/* ///////////////// Fonts Start //////////////////////////////////////////////////////// */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 75 to 125

.encode-sans-sc-<uniquifier> {
  font-family: "Encode Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */

/* .anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  color: #555558;
  font-size: 5rem;
}

/* ////////////////Fonts Ends//////////////////////////////////////////////////////// */

:root {
  --blue: #0130ff;
  --white: #fff;
  --offWhite: #f5f5f5;
  --yellow: #bb7000;
  --black: #323231;
  --lightGray: #e1e1e1;
  --airBnB: #ff5a5f;
  --linkTag: 1.6rem;
  --headingP: 1.8rem;
  --p: 1.6rem;
  --h4: 2rem;
  --h3: 5rem;
  --borderRadius: 3px;
  --navLinks: 2rem;
  --trans300ms: 300ms;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none;
  /* for iOS Safari */
  text-size-adjust: none;
  /* for other mobile browsers */
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  border: none;
  padding: none;
  margin: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  /* Places underlines below the descenders */
  text-decoration-thickness: 8;
  /* Sets the thickness as a percentage of the font size */
  font-size: 1.6rem;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

:focus:not(:focus-visible) {
  outline: none;
}

a,
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

/* // NAVBAR START //////////////////////////////////// */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  padding: 1rem;
}

.navbar-logo {
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  width: 50%;
}

.navbar-logo img {
  height: 100%;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  /* border: 1px solid green; */
}

.navbar-links i {
  font-size: 3rem;
  color: var(--black);
  margin-right: 2rem;
}

.navbar-links-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  /* padding: 2rem 1rem; */
  background-color: var(--white);

  font-weight: 500;
}

.navbar-links-mobile a {
  color: var(--black);
  width: 100%;
  padding: 2rem 1rem;
}

.navbar-links-mobile a:hover {
  background: var(--blue);
  color: var(--offWhite);
  transition: var(--trans300ms);
}
/* // NAVBAR END ////////////////////////////////////// */

/* // CAROUSEL START ////////////////////////////////////// */
.carousel-container {
  min-height: 500px;
  min-width: 393px;
}

.carousel-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  padding: 2rem 1rem;
  height: 100%;
  /* margin: 1rem; */
}

.carousel-card-body img {
  height: 10rem;
  width: auto;
}

.carousel-card-body p {
  font-family: "Work Sans", sans-serif;
  color: var(--offWhite);
}

.carousel-card-body p:nth-of-type(1) {
  margin-bottom: 0;
}

.carousel-card-body p:nth-of-type(2) {
  margin-top: 0;
  font-size: 2.5rem;
}

.carousel-card-body p:nth-of-type(3) {
  text-align: center;
}

/* // CAROUSEL END ////////////////////////////////////// */

/* // COMPONENT START ////////////////////////////////////// */
.component {
  margin: 1rem;
  /* border: 1px solid red; */
  background-color: var(--offWhite);
  padding: 1rem;
  border-radius: var(--borderRadius);
}

.component h5,
.featured h5 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

.component h4 {
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  color: var(--yellow);
}

.component h3 {
  font-size: 5rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
  line-height: 5rem;
}

.component p {
  text-align: unset;
  font-weight: 300;
}

.featured {
  color: var(--offWhite);
  margin: 1rem 0;
  background-color: #323231;
  padding-bottom: 2rem;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.featured::-webkit-scrollbar {
  display: none;
}
.featured h3 {
  font-weight: 300;
  font-size: 5rem;
  margin: 0;
}

.featured h4 {
  font-weight: 200;
  font-size: 2rem;
}

.featured p {
  font-size: 1.8rem;
  font-weight: 300;
}

.featured-container {
  height: 85vh;
}

.featured-container div:nth-of-type(1) {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1.5rem;
}

.featured-container div:nth-of-type(1) img {
  width: 200px;
  height: 200px;
}

.featured-container div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.featured-container div:nth-of-type(2) img {
  width: 90%;
  height: 16.3rem;
}

.featured-container div:nth-of-type(3) {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
}

.featured-container div:nth-of-type(3) img {
  width: 200px;
  height: 200px;
}

.featured-content {
  margin: 1rem;
}

.featured-content h4 {
  display: flex;
  align-items: center;
  font-weight: 200;
  font-size: 2rem;
  color: var(--yellow);
  margin: 0;
  height: 8rem;
}

.featured-content h3 {
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  font-size: 5rem;
  margin: 0;
  color: var(--black);
  height: 10rem;
  line-height: 4rem;
}

.featured-content p {
  font-weight: 300;
  height: 9.5rem;
}

.featured-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

.featured-links a:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--offWhite);
  background-color: var(--black);
  height: 4rem;
  width: 46.5%;
  font-size: 1.2rem;
}

.featured-links a:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  height: 4rem;
  width: 46.5%;
  border: 1px solid var(--black);
  font-size: 1.2rem;
}

.featured-links a:nth-of-type(1):hover,
.featured-links a:nth-of-type(2):hover {
  font-weight: 500;
  transition: 300ms;
}

/* // COMPONENT END ////////////////////////////////////// */

/* // EXPLORE START ////////////////////////////////////// */
.location-container {
  background-color: var(--black);
  margin-top: 1rem;
  padding: 1rem;
  height: 100%;
}

.location {
  color: var(--offWhite);
}

.location p {
  font-weight: 300;
}

.location h3 {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 0;
}

.location-links {
  display: flex;
  overflow: scroll;
  gap: 3.3rem;
  height: 7rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.location-links::-webkit-scrollbar {
  display: none;
}

.location-links-expanded {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  gap: 3.3rem;
  height: 50rem;
}

.location-links a,
.location-links-expanded a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--offWhite);
  color: var(--offWhite);
  height: 4rem;
  min-width: 17rem;
  font-size: 1.2rem;
}

.location-links a:hover,
.location-links-expanded a:hover {
  color: var(--yellow);
  border: 1px solid var(--yellow);
  transition: 300ms;
}

.location div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--yellow);
}

.location div:nth-of-type(1) i {
  font-size: 2rem;
}

.location div:nth-of-type(1) p {
  font-weight: 400;
}

/* // EXPLORE END //////////////////////////////////////// */

/* // CATEGORY START ////////////////////////////////////// */
.category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.category a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  width: 49%;
  height: 15rem;
  color: #222222;
  border: 1px solid var(--lightGray);
  border-radius: 5px;
}

.category a:hover {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11);
}

.category i {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--blue);
}
/* // CATEGORY END ////////////////////////////////////// */

/* // FOOTER START ////////////////////////////////////// */

/* // CONTACT START ////////////////////////////////////// */
form {
  width: 100%;
  height: 100%;
  margin: 4rem 0;
  /* font-family: "Work Sans", sans-serif; */
}

.label-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid red; */
  margin: 1rem 0;
  min-height: 7.8rem;
}

.label-input label {
  font-weight: 600;
  height: 3rem;
  font-size: 1.6rem;
}

.label-input input {
  height: 4rem;
  padding: 1rem;
  border: 1px solid var(--lightGray);
  border-radius: 3px;
  outline: none;
}

.label-input textarea {
  border: 1px solid var(--lightGray);
  border-radius: 3px;
  padding: 1rem;
  height: 15rem;
  margin-top: 1rem;
}

.form-number {
  display: flex;
  justify-content: space-between;
}

.form-number input:nth-of-type(1) {
  width: 20%;
}

.form-number input:nth-of-type(2) {
  width: 75%;
}

.form-button {
  display: flex;

  justify-content: flex-end;
}

.form-button button {
  height: 4rem;
  width: 10rem;
  color: var(--black);
  border: 1px solid lightgray;
  font-weight: 500;
  border-radius: 3px;
}

.form-button button:hover {
  background-color: var(--blue);
  color: var(--offWhite);
  border: 1px solid var(--lightGray);
}
/* // CONTACT END ////////////////////////////////////// */

/* // ABOUT START ////////////////////////////////////// */
.about-page-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(4, 0, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  height: 100%;
}

.about-page-banner h1 {
  font-weight: 500;
  color: var(--white);
  font-size: 4rem;
}

/* .about-widget {
} */

.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
  border-radius: 5px;
  width: 48%;
  color: white;
}

.widget p:nth-of-type(1),
.widget span {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.SMDC-kts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  height: 100%;
}

.SMDC-kts-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2rem;
}

.SMDC-kts-header img {
  height: 3.3rem;
}

.SMDC-kts-header h4 {
  font-size: 2.7rem;
  font-weight: 500;
  color: var(--white);
  margin: 0;
}

.SMDC-kts-body p {
  font-size: 1.4rem;
  color: var(--white);
}

.airport-container {
  display: flex;
  margin: 2rem 1rem;
  gap: 1rem;
}

.airport-container img {
  height: 20rem;
  border-radius: 5px;
}

.airport-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.airport-container p:nth-of-type(1) {
  font-size: 2.5rem;
  margin: 0;
}

.airport-container p:nth-of-type(2) {
  font-size: 2.2rem;
  margin: 0;
}

.airport-container p:nth-of-type(3) {
  font-size: 3.5rem;
  margin: 0;
}

.dyn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 2rem 1rem;
  height: 20rem;
}

.dyn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dyn-text img {
  height: 3rem;
}

.dyn-text p:nth-of-type(1) {
  margin: 0;
  text-align: center;
}

.dyn-smdc-logo {
  display: flex;
  align-items: center;
}

.dyn-smdc-logo p {
  margin: 0.5rem 0 0 0;
}

.dyn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dyn-icon p {
  margin: 0;
}

.dyn-icon i {
  font-size: 2.5rem;
  color: var(--airBnB);
}

.dyn-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 20rem;
  margin: 1rem 0 0 0;
}

.dyn-img img {
  width: 11rem;
}

.SMDC-Referrer h2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  color: var(--blue);
}

.SMDC-Referrer-header p:nth-of-type(1) {
  font-weight: 300;
  text-align: justify;
}

.SMDC-Referrer-header p:nth-of-type(2) {
  font-weight: 300;
  font-style: italic;
}

.SMDC-Referrer-img {
  background-color: rgb(90, 90, 90);
  /* background-color: var(--black); */
  border-radius: 5px;
  padding: 2rem;
  color: var(--offWhite);
  margin-bottom: 2rem;
}

.referrer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.referrer-logo img {
  height: 5rem;
}

.referrer-price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
  height: 5rem;
  width: 15rem;
  margin-right: -2rem;
  border-radius: 5px 0 0 5px;
  padding-right: 1rem;
}

.referrer-price p:nth-of-type(1) {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.referrer-price p:nth-of-type(2) {
  margin: 0;
  font-weight: 400;
}

.referrer-details p:nth-of-type(1) {
  font-size: 1.8rem;
  font-weight: 600;
}

.referrer-details p:nth-of-type(2) {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}

.referrer-location {
  display: flex;
}

.referrer-location i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  color: var(--blue);
}

.referrer-location p {
  margin: 0;
  font-size: 1.2rem;
}

.long-text h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--yellow);
}
/* // ABOUT END ////////////////////////////////////// */

/* // CARD START ////////////////////////////////////// */
.card {
  height: 35rem;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  color: var(--offWhite);
}

.card-body p {
  font-size: 1.6rem;
}

.card-name {
  display: flex;
  flex-direction: column;
}

.card-name p,
h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.card-name h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.card-name p {
  font-size: 1.6rem;
}

.card-decription {
  font-style: italic;
  margin: 0.5rem 0 1rem 0;
}

.card-address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 5rem;
  gap: 0.5rem;
}

.card-address i {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.card-address p {
  margin: 0;
  font-weight: 500;
}

.card-s-body {
  height: 20rem;
  width: 25rem;
}

.card-s-logo-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 1rem;
  padding-right: 1rem;
}

.card-s-logo {
  height: 7rem;
}

.card-s-name {
  font-weight: 500;
  font-size: 3rem;
  color: var(--lightGray);
}

.card-s-price {
  font-size: 1.8rem;
  font-weight: 600;
  /* font-style: italic; */
  color: var(--blue);
}

.card-s-container {
  font-weight: 400;
  color: var(--lightGray);
}

.card-s-container p {
  font-size: 1.8rem;
}

.card-s-address {
  font-weight: 400;
  font-style: italic;
  color: var(--lightGray);
}

.card-s-unit-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.card-s-unit-image-container img {
  height: 40rem;
  width: 100%;
  min-height: 17.3rem;
  max-height: 35.3rem;
}

.landscape {
  height: 38rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.landscape-body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 1rem 0.5rem;
}

.landscape-body img {
  height: 25rem;
  width: 35.6rem;
}

.landscape-body h4 {
  font-weight: 400;
  color: var(--offWhite);
  font-size: 2.2rem;
  margin: 1rem 0;
}

.landscape-body p {
  font-weight: 300;
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.landscape-body div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.landscape-body i {
  font-size: 1.2rem;
}
/* // CARD END ///////////////////////////////////////////////// */

/* // PROPERTY TYPE START ////////////////////////////////////// */
.property-type {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 0.5rem;
  width: 100%;
  height: 35rem;
}

.property-type a {
  width: 48%;
}

.property-type div:first-of-type {
  width: 100%;
  height: 17rem;
  border-radius: var(--borderRadius);
}

.property-icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 90%
  );
}

.property-icon-image p {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.property-sort div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--lightGray);
  height: 4rem;
  border-radius: var(--borderRadius);
}
.property-sort div:nth-of-type(1) i {
  font-size: 2rem;
  color: var(--lightGray);
  margin: 0 1rem;
}

.property-sort div:nth-of-type(1) input {
  background-color: transparent;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  outline: none;
  font-weight: 500;
  color: var(--black);
}

.property-sort div:nth-of-type(1) input::placeholder {
  color: var(--yellow);
  font-weight: 300;
}

.property-sort button {
  height: 4rem;
  padding: 0 2rem;
  border-radius: 0 3px 3px 0;
  background-color: var(--black);
  color: var(--offWhite);
}

.property-sort button:hover {
  background-color: var(--black);
  transition: 300ms;
}

.property-sort-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.notActive {
  text-align: center;
  width: 49%;
  border: 1px solid var(--lightGray);
  color: var(--black);
  border-radius: var(--borderRadius);
  padding: 1rem;
  font-size: 1.4rem;
}

.active,
.notActive:hover {
  text-align: center;
  width: 49%;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  border-radius: var(--borderRadius);
  padding: 1rem;
  font-size: 1.4rem;
}
/* // PROPERTY TYPE END ////////////////////////////////////// */

/* // COMPONENTS START /////////////////////////////////////// */
.button-call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  height: 4rem;
  width: 100%;
  border-radius: var(--borderRadius);
  color: white;
  background-color: var(--blue);
  text-transform: capitalize;
  font-weight: 600;
  outline: none;
}

.button-call-to-action:hover {
  background-color: var(--blue);
}
.text-justify {
  text-align: justify;
}

.page-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  background-color: #22222266;
}

.page-banner h1 {
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.smdc-white-bg {
  height: 7rem;
}

.single-item-image-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 50vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 90%
  );
}

.single-item-image-banner img {
  height: 15rem;
}

.featured-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--offWhite);
  height: 4rem;
  border-radius: var(--borderRadius);
  padding: 0 2rem;
  margin-top: 1rem;
  background-color: var(--blue);
}

.px-1rem {
  padding: 0 1rem;
}

.py-1rem {
  margin-bottom: 5rem;
  margin-top: 0;
}

.box-shadow {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
}

.text-shadow {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.gradiant-black {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 90%
  );
}

.smdc-blue {
  color: var(--blue);
}

.w600 {
  font-weight: 600;
}
/* // COMPONENTS END ////////////////////////////////////// */

/* // SEARCH COMPONENT START ////////////////////////////// */
.search-container {
  background-color: var(--offWhite);
  margin-top: 1rem;
  padding: 1rem;
  height: 100%;
  color: var(--black);
}

/* .search {
  padding: 2rem 1rem;
} */

.search h1 {
  font-size: var(--h3);
  font-weight: 300;
  font-size: 5rem;
  margin-bottom: 0;
}

.search h3 {
  color: var(--yellow);
  font-size: 2rem;
  font-weight: 400;
}

.search form {
}

.search i {
  color: var(--black);
  background-color: transparent;
  font-size: 1.8rem;
}
.search div:nth-of-type(1) {
  display: flex;
  align-items: center;
  border: 1px solid var(--lightGray);
  background-color: var(--offWhite);
  padding: 0 1rem;
  border-radius: var(--borderRadius);
}

.search input {
  background-color: transparent;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  outline: none;
  font-weight: 500;
  color: var(--black);
}

.search button {
  border-left: 1px solid var(--lightGray);
  height: 3rem;
}

/* // SEARCH COMPONENT END //////////////////////////////// */

/* // RESERVATION START /////////////////////////////////// */
.investor-details li,
.foreign-details li {
  font-size: 1.6rem;
  list-style: inside;
  margin: 2rem;
  color: #555558;
}

.investor-details li::marker,
.foreign-details li::marker {
  color: var(--yellow);
}

.bank-details {
  color: var(--black);
  background-color: rgba(225, 225, 225, 0.6);
  height: 100%;
  padding: 2rem 1rem;
}

.bank-details h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.bank-details li {
  font-size: 1.6rem;
  margin-left: 2rem;
  list-style-type: disc;
}

.employment {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid var(--lightGray);
  border-radius: var(--borderRadius);
  width: 100%;
}

.employment h4 {
  margin: 0;
  text-align: left;
}

.employment li {
  margin: 0 0 1rem 1rem;
  font-size: 1.5rem;
  color: var(--blacks);
  list-style: disc;
}

.employment li::marker {
  color: var(--yellow);
}
/* // RESERVATION END ////////////////////////////////////// */

/* // MODAL START //////////////////////////////////// */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px) grayscale(70%);
  background-color: #f5f5f548;
}

.modal-container i {
  color: var(--black);
  font-size: 2rem;
}

.modal-container > .component {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.modal-icons {
  position: fixed;
  bottom: 15%;
  right: 0;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.modal-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.modal-icon-container i {
  font-size: 2.5rem;
  color: var(--offWhite);
}

.modal-icon-container:nth-of-type(1) {
  background-color: #ff4343;
}
.modal-icon-container:nth-of-type(2) {
  background-color: #7360f2;
}
.modal-icon-container:nth-of-type(3) {
  background-color: #128c7e;
}
.modal-icon-container:nth-of-type(4) {
  background-color: #006aff;
}

.modal-icon-container:nth-of-type(1):hover {
  background-color: #fb5d5d;
}
.modal-icon-container:nth-of-type(2):hover {
  background-color: #8978f5;
}
.modal-icon-container:nth-of-type(3):hover {
  background-color: #1ab3a1;
}
.modal-icon-container:nth-of-type(4):hover {
  background-color: #2b83fee2;
}
/* // MODAL END ////////////////////////////////////// */

/* // FOOTER START ////////////////////////////////////// */
.footer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--black);
  color: var(--offWhite);
}

.footer-div,
.footer-logo,
.footer-icon {
  margin: 2rem 0 1rem 0;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: var(--borderRadius);
  height: 5rem;
  width: 5rem;
  font-size: 2.4rem;
}

.footer-div h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}

.footer-logo img {
  height: 5rem;
}

.footer-div li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.footer-links a {
  color: var(--offWhite);
}

.footer-links a:hover {
  color: var(--blue);
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer-contact i {
  font-size: 1.6rem;
}
/* // FOOTER END ////////////////////////////////////// */
