/* ///////////////// Fonts Start //////////////////////////////////////////////////////// */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 75 to 125

.encode-sans-sc-<uniquifier> {
  font-family: "Encode Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
} */

/* .anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  color: #555558;
  font-size: 5rem;
}

input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ////////////////Fonts Ends//////////////////////////////////////////////////////// */

:root {
  --blue: #0130ff;
  --white: #fff;
  --offWhite: #f5f5f5;
  --yellow: #bb7000;
  --black: #323231;
  --lightGray: #e1e1e1;
  --airBnB: #ff5a5f;
  --linkTag: 1.6rem;
  --headingP: 1.8rem;
  --p: 1.6rem;
  --h4: 2rem;
  --h3: 5rem;
  --borderRadius: 3px;
  --navLinks: 2rem;
  --trans300ms: 300ms;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none;
  /* for iOS Safari */
  text-size-adjust: none;
  /* for other mobile browsers */
  font-family: "Work Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  border: none;
  padding: none;
  margin: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  /* Places underlines below the descenders */
  text-decoration-thickness: 8;
  /* Sets the thickness as a percentage of the font size */
  font-size: 1.6rem;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

:focus:not(:focus-visible) {
  outline: none;
}

a,
label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

/* // NAVBAR START //////////////////////////////////// */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
  padding: 1rem;
}

.navbar-logo {
  width: 50%;
}

.navbar-logo img {
  height: 100%;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.navbar-links a {
  display: none;
}

.navbar-links i {
  font-size: 3rem;
  color: var(--black);
  margin-right: 2rem;
}

.navbar-links-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white);

  font-weight: 500;
}

.navbar-links-mobile a {
  color: var(--black);
  width: 100%;
  padding: 2rem 1rem;
}

.navbar-links-mobile a:hover {
  background: var(--blue);
  color: var(--offWhite);
  transition: var(--trans300ms);
}
/* // NAVBAR END ////////////////////////////////////// */

/* // HOME START ////////////////////////////////////// */
.hero-content {
  position: relative;
  height: 50rem;
}

.hero-header {
  padding: 2rem 1rem;
}

.hero-header h1 {
  font-size: 5rem;
  font-weight: 400;
  margin: 0;
}

.hero-overlay {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 90%
  );
}

.hero-overlay img {
  position: absolute;
  bottom: 20%;
  width: 50%;
}

.hero-overlay a {
  position: absolute;
  bottom: 5%;
  padding: 2rem 3rem;
  color: var(--white);
  background-color: #32323100;
  width: 100%;
  font-weight: 400;
  text-align: center;
}

.hero-overlay a:hover {
  background-color: var(--blue);
  transition: all var(--trans300ms);
}

/* // HOME END //////////////////////////////\\//////// */

/* // CAROUSEL START ////////////////////////////////////// */
.carousel-container {
  min-height: 500px;
  min-width: 393px;
}

.carousel-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  padding: 2rem 1rem;
  height: 100%;
  /* margin: 1rem; */
}

.carousel-card-body img {
  height: 10rem;
  width: auto;
}

.carousel-card-body p {
  font-family: "Work Sans", sans-serif;
  color: var(--offWhite);
}

.carousel-card-body p:nth-of-type(1) {
  margin-bottom: 0;
}

.carousel-card-body p:nth-of-type(2) {
  margin-top: 0;
  font-size: 2.5rem;
}

.carousel-card-body p:nth-of-type(3) {
  text-align: center;
}

/* // CAROUSEL END ////////////////////////////////////// */

/* // COMPONENT START ////////////////////////////////////// */
.component {
  margin: 1rem;
  /* border: 1px solid red; */
  background-color: var(--offWhite);
  padding: 1rem;
  border-radius: var(--borderRadius);
}

.component h5,
.featured h5 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

.component h4 {
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  color: var(--yellow);
}

.component h3 {
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 0;
  line-height: 5rem;
}

.component p {
  text-align: unset;
  font-weight: 300;
  line-height: 2.5rem;
}
/* // COMPONENT END ////////////////////////////////////// */

/* // FEATURED COMPONENT START ////////////////////////////*/

.featured-property {
  position: relative;
  width: 100%;
  height: 70vh;
}

.featured-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  color: var(--offWhite);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    300deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  padding: 0 2rem;
}

.featured-content p:nth-of-type(1) {
  font-size: 1.8rem;
}

.featured-content p:nth-of-type(2) {
  font-size: 4rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.featured-content p:nth-of-type(3) {
  text-align: right;
}

.featured-content h3 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

.featured-content a {
  padding: 2rem 0;
  color: var(--offWhite);
  font-weight: 400;
  text-align: right;
}

.featured-content a:hover {
  text-decoration: underline;
  transition: all var(--trans300ms);
}
/* // FEATURED COMPONENT END //////////////////////////////*/

/* // EXPLORE START ////////////////////////////////////// */
.location-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem 1rem;
  height: 50rem;
}

.location {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: var(--offWhite);
  height: 100%;
  /* border: 1px solid red; */
}

.location > div {
  /* border: 1px solid red; */
  width: 100%;
}

.drop-down-menu {
  width: 100%;
}

.location p {
  font-weight: 300;
}

.location h3 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 0;
}

/* .location-links {
  display: flex;
  overflow: scroll;
  gap: 3.3rem;
  height: 7rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.location-links::-webkit-scrollbar {
  display: none;
}

/* .location-links-expanded {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  gap: 3.3rem;
  height: 50rem;
} */

/* .location-links a,
.location-links-expanded a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--offWhite);
  color: var(--offWhite);
  height: 4rem;
  min-width: 17rem;
  font-size: 1.2rem;
} */

/* .location-links a:hover,
.location-links-expanded a:hover {
  color: var(--yellow);
  border: 1px solid var(--yellow);
  transition: 300ms;
} */

/* .location div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--yellow);
}

.location div:nth-of-type(1) i {
  font-size: 2rem;
}

.location div:nth-of-type(1) p {
  font-weight: 400;
} */

/* // EXPLORE END //////////////////////////////////////// */

/* // CATEGORY START ////////////////////////////////////// */
.category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.category-section {
  display: flex;
  flex-direction: row;
}

.category-section-image {
  height: auto;
  width: 50%;
}

.category-section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
}

.category-section:nth-of-type(2) {
  display: flex;
  flex-direction: row-reverse;
}

.category-section-content p {
  width: 70%;
  text-align: center;
  line-height: 2.5rem;
}

.category a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  width: 20rem;
  height: 5rem;
  color: #222222;
  border: 1px solid var(--lightGray);
  border-radius: 5px;
  margin-bottom: 4rem;
}

.category a:hover {
  background-color: var(--blue);
  color: var(--offWhite);
  -webkit-box-shadow: 0px 5px 6px 0px rgba(17, 14, 14, 0.11);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11);
}

/* .category i {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--blue);
} */
/* // CATEGORY END ////////////////////////////////////// */

/* // FOOTER START ////////////////////////////////////// */

/* // CONTACT START ////////////////////////////////////// */
form {
  width: 100%;
  height: 100%;
  margin: 4rem 0;
}

form span {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.label-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  min-height: 7.8rem;
}

.label-input label {
  font-weight: 600;
  height: 3rem;
  font-size: 1.6rem;
}

.label-input-input {
  height: 4rem;
  padding: 1rem;
  border: 1px solid var(--lightGray);
  border-radius: 3px;
  outline: none;
}

.label-input-textarea {
  border: 1px solid var(--lightGray);
  border-radius: 3px;
  padding: 1rem;
  height: 15rem;
  margin-top: 1rem;
}

.label-input-input:hover,
.label-input-textarea:hover {
  outline: 1px solid var(--black);
  transition: all 300ms;
}

.form-number {
  display: flex;
  justify-content: space-between;
}

.form-number input:nth-of-type(1) {
  width: 20%;
}

.form-number input:nth-of-type(2) {
  width: 75%;
}

.form-button {
  display: flex;

  justify-content: flex-end;
}

.form-button button {
  height: 4rem;
  width: 10rem;
  color: var(--black);
  border: 1px solid lightgray;
  font-weight: 500;
  border-radius: 3px;
}

.form-button button:hover {
  background-color: var(--blue);
  color: var(--offWhite);
  border: 1px solid var(--lightGray);
}

.contact-us {
  display: flex;
}

.contact-header {
  padding: 1rem;
}

.contact-header h3 {
  font-size: 3rem;
  font-weight: 500;
}

.contact-header p {
  font-size: 2rem;
}

.contact-info {
  height: 100%;
}

.contact-div {
  display: flex;
}

.div1 {
  display: none;
}

.div2 {
  position: relative;
  width: 100%;
  padding: 0 1rem;
}

.div2 span {
  color: red;
}

.is-invalid {
  height: 4rem;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid red;
}

.is-invalid-textarea {
  border: 1px solid red;
  border-radius: 3px;
  padding: 1rem;
  height: 15rem;
  margin-top: 1rem;
}

.is-invalid:hover {
  /* outline: 1px solid red; */
  border: 1px solid red;
}

.is-valid {
  height: 4rem;
  padding: 1rem;
  border: 1px solid var(--lightGray);
  border-radius: 3px;
  outline: none;
}

/* // CONTACT END ////////////////////////////////////// */

/* // ABOUT START ////////////////////////////////////// */
.about-page-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(4, 0, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  height: 100%;
}

.about-page-banner h1 {
  font-weight: 500;
  color: var(--white);
  font-size: 4rem;
}

/* .about-widget {
} */

.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
  border-radius: 5px;
  width: 48%;
  color: white;
}

.widget p:nth-of-type(1),
.widget span {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.SMDC-kts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  height: 100%;
}

.SMDC-kts-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 2rem;
}

.SMDC-kts-header img {
  height: 3.3rem;
}

.SMDC-kts-header h4 {
  font-size: 2.7rem;
  font-weight: 500;
  color: var(--white);
  margin: 0;
}

.SMDC-kts-body p {
  font-size: 1.4rem;
  color: var(--white);
}

.airport-container {
  display: flex;
  margin: 2rem 1rem;
  gap: 1rem;
}

.airport-container img {
  height: 20rem;
  border-radius: 5px;
}

.airport-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.airport-container p:nth-of-type(1) {
  font-size: 2.5rem;
  margin: 0;
}

.airport-container p:nth-of-type(2) {
  font-size: 2.1rem;
  margin: 0;
}

.airport-container p:nth-of-type(3) {
  font-size: 3.5rem;
  margin: 0;
}

.dyn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 2rem 1rem;
  height: 20rem;
}

.dyn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dyn-text img {
  height: 3rem;
}

.dyn-text p:nth-of-type(1) {
  margin: 0;
  text-align: center;
}

.dyn-smdc-logo {
  display: flex;
  align-items: center;
}

.dyn-smdc-logo p {
  margin: 0.5rem 0 0 0;
}

.dyn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dyn-icon p {
  margin: 0;
}

.dyn-icon i {
  font-size: 2.5rem;
  color: var(--airBnB);
}

.dyn-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 20rem;
  margin: 1rem 0 0 0;
}

.dyn-img img {
  width: 11rem;
}

.SMDC-Referrer h2 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  color: var(--blue);
}

.SMDC-Referrer-header p:nth-of-type(1) {
  font-weight: 300;
  text-align: justify;
}

.SMDC-Referrer-header p:nth-of-type(2) {
  font-weight: 300;
  font-style: italic;
}

.SMDC-Referrer-img {
  background-color: rgb(90, 90, 90);
  /* background-color: var(--black); */
  border-radius: 5px;
  padding: 2rem;
  color: var(--offWhite);
  margin-bottom: 2rem;
}

.referrer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.referrer-logo img {
  height: 5rem;
}

.referrer-price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: var(--blue);
  height: 5rem;
  width: 15rem;
  margin-right: -2rem;
  border-radius: 5px 0 0 5px;
  padding-right: 1rem;
}

.referrer-price p:nth-of-type(1) {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.referrer-price p:nth-of-type(2) {
  margin: 0;
  font-weight: 400;
}

.referrer-details p:nth-of-type(1) {
  font-size: 1.8rem;
  font-weight: 600;
}

.referrer-details p:nth-of-type(2) {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}

.referrer-location {
  display: flex;
}

.referrer-location i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  color: var(--blue);
}

.referrer-location p {
  margin: 0;
  font-size: 1.2rem;
}
/* // ABOUT END ////////////////////////////////////// */

/* // CARD START ////////////////////////////////////// */
.card {
  height: 35rem;
  margin-bottom: 1rem;
}

.card-body {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  color: var(--offWhite);
}

.card-body p {
  font-size: 1.6rem;
}

.card-name {
  display: flex;
  flex-direction: column;
}

.card-name p,
h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.card-name h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.card-name p {
  font-size: 1.6rem;
}

.card-decription {
  font-style: italic;
  margin: 0.5rem 0 1rem 0;
}

.card-address {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 5rem;
  gap: 0.5rem;
}

.card-address i {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.card-address p {
  margin: 0;
  font-weight: 500;
}

.card-s-body {
  height: 20rem;
  width: 25rem;
}

.card-s-logo-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 1rem;
  padding-right: 1rem;
}

.card-s-logo {
  height: 7rem;
}

.card-s-name {
  font-weight: 500;
  font-size: 3rem;
  color: var(--lightGray);
}

.card-s-price {
  font-size: 1.8rem;
  font-weight: 600;
  /* font-style: italic; */
  color: var(--blue);
}

.card-s-container {
  font-weight: 400;
  color: var(--lightGray);
}

.card-s-container p {
  font-size: 1.8rem;
}

.card-s-address {
  font-weight: 400;
  font-style: italic;
  color: var(--lightGray);
}

.card-s-unit-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.card-s-unit-image-container img {
  height: 40rem;
  width: 100%;
  min-height: 17.3rem;
  max-height: 35.3rem;
}

.landscape {
  height: 40rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.landscape-body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin: 1rem 0.5rem;
  border: 1px solid red;
}

.landscape-body img {
  height: 45rem;
  width: 45rem;
}

.landscape-body h4 {
  font-weight: 400;
  color: var(--offWhite);
  font-size: 2.2rem;
  margin: 1rem 0;
}

.landscape-body p {
  font-weight: 300;
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.landscape-body div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.landscape-body i {
  font-size: 1.2rem;
}
/* // CARD END ///////////////////////////////////////////////// */

/* // PROPERTY TYPE START ////////////////////////////////////// */
.property-type {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 0.5rem;
  width: 100%;
  height: 35rem;
}

.property-type a {
  width: 48%;
}

.property-type div:first-of-type {
  width: 100%;
  height: 17rem;
  border-radius: var(--borderRadius);
}

.property-icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 90%
  );
}

.property-icon-image p {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.property-sort form {
  margin: 0 0 4rem 0;
}

.property-sort div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--lightGray);
  height: 4rem;
  border-radius: var(--borderRadius);
}
.property-sort div:nth-of-type(1) i {
  font-size: 2rem;
  color: var(--lightGray);
  margin: 0 1rem;
}

.property-sort div:nth-of-type(1) input {
  background-color: transparent;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  outline: none;
  font-weight: 500;
  color: var(--black);
}

.property-sort div:nth-of-type(1) input::placeholder {
  color: var(--yellow);
  font-weight: 300;
}

.property-sort button {
  height: 4rem;
  padding: 0 2rem;
  border-radius: 0 3px 3px 0;
  background-color: var(--black);
  color: var(--offWhite);
}

.property-sort button:hover {
  background-color: var(--black);
  transition: 300ms;
}

.property-sort-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.notActive {
  text-align: center;
  width: 49%;
  border: 1px solid var(--lightGray);
  color: var(--black);
  border-radius: var(--borderRadius);
  padding: 1rem;
  font-size: 1.4rem;
}

.active,
.notActive:hover {
  text-align: center;
  width: 49%;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  border-radius: var(--borderRadius);
  padding: 1rem;
  font-size: 1.4rem;
}
/* // PROPERTY TYPE END ////////////////////////////////////// */

/* // COMPONENTS START /////////////////////////////////////// */
.button-call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  height: 4rem;
  width: 100%;
  border-radius: var(--borderRadius);
  color: white;
  background-color: var(--blue);
  text-transform: capitalize;
  font-weight: 600;
  outline: none;
}

.button-call-to-action:hover {
  background-color: var(--blue);
}
.text-justify {
  text-align: justify;
}

.page-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  background-color: #22222266;
}

.page-banner h1 {
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.smdc-white-bg {
  height: 7rem;
}

.single-item-image-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 50vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  padding: 0 2rem;
}

.single-item-image-banner img {
  height: 15rem;
}

.featured-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--offWhite);
  height: 4rem;
  border-radius: var(--borderRadius);
  padding: 0 2rem;
  margin-top: 1rem;
  background-color: var(--blue);
}

.px-1rem {
  padding: 0 1rem;
}

.py-1rem {
  margin-bottom: 5rem;
  margin-top: 0;
}

.box-shadow {
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.11);
}

.text-shadow {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.gradiant-black {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 90%
  );
}

.smdc-blue {
  color: var(--blue);
}

.w600 {
  font-weight: 600;
}

.google-map-container {
  /* overflow: hidden; */
  /* padding-bottom: 56.25%; */
  /* position: relative; */
  height: 100%;
  outline: 0;
  border: 0;
}

.google-map-container iframe {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  border: 0;
  height: 100%;
  width: 100%;
  outline: 0;
}

.css-1nmdiq5-menu {
  border-radius: 3px;
}

.banner-hero {
  height: 50rem;
  filter: grayscale(70%);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--offWhite);
  border-bottom-color: var(--blue);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* // COMPONENTS END /////////////////////////////////////// */

/* // SPINNER START /////////////////////////////////////// */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: var(--offWhite);
}

.spinner-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-weight: 600;
  color: var(--blue);
}

.spinner-container span {
  margin-bottom: 2rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--offWhite);
  border-bottom-color: var(--blue);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* // SPINNER END ///////////////////////////////////////// */

/* // SINGLE-ITEM START //////////////////////////////////// */
/* .single-item-container {
  border: 1px solid red;
} */

.single-item-section-container {
  background-color: var(--black);
}

.single-item-section {
  padding: 2rem 1rem;
}

/* .single-item-heading {
  padding: 2rem 1rem;
} */

.single-item-heading img {
  width: 20%;
  margin-top: 2rem;
}

.single-item-heading h1 {
  font-size: 4rem;
  font-weight: 400;
}

.single-item-heading p:nth-of-type(1) {
  font-weight: 300;
}

.single-item-heading p:nth-of-type(2) {
  font-weight: 400;
  font-style: italic;
}

.single-item-details {
  /* background-color: var(--black); */
  padding: 1rem;
  color: var(--offWhite);
}

/* .details-section {
  margin: 4rem 0;
} */

.details-section h5 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--yellow);
}

.details-section p {
  font-size: 1.6rem;
  font-weight: 300;
}

/* .gallery-container {
  padding: 1rem;
} */

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  margin-top: 2rem;
  height: 5rem;
}

.gallery-button-default {
  background-color: transparent;
  color: var(--black);
  font-weight: 600;
  font-size: 1.6rem;
  border-bottom: 4px solid transparent;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
}

.gallery-button--active {
  background-color: transparent;
  color: var(--black);
  font-weight: 600;
  font-size: 1.6rem;
  border-bottom: 4px solid transparent;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
  border-bottom: 4px solid var(--black);
  transition: all var(--trans300ms);
}

.gallery-description h4 {
  font-size: 3rem;
  font-weight: 400;
}

.gallery-description p {
  font-weight: 300;
  font-size: 1.6;
}

.map-container {
  /* background-image: url("https://images.unsplash.com/photo-1705514814688-7ac2da1bd5e4?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-color: var(--black);
  color: var(--white);
}

.map-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}

.map-description img {
  width: 20%;
  padding-top: 2rem;
}

.map-description h3 {
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 400;
}

.map-description p {
  font-size: 2rem;
}

.map-section {
  height: 40rem;
}

.map {
  height: 100%;
}

.feature-description h3 {
  font-size: 3rem;
  font-weight: 400;
}

.feature-description p {
  font-weight: 300;
  font-size: 1.6rem;
}

.feature-content {
  font-style: italic;
  font-weight: 300;
}

/* // SINGLE-ITEM END ////////////////////////////////////// */

/* // SEARCH COMPONENT START /////////////////////////////// */
.search-container {
  background-color: var(--offWhite);
  margin-top: 1rem;
  padding: 1rem;
  height: 100%;
  color: var(--black);
}

.search h1 {
  font-size: var(--h3);
  font-weight: 300;
  font-size: 5rem;
  margin-bottom: 0;
}

.search h3 {
  color: var(--yellow);
  font-size: 2rem;
  font-weight: 400;
}

.search i {
  color: var(--black);
  background-color: transparent;
  font-size: 1.8rem;
}
.search div:nth-of-type(1) {
  display: flex;
  align-items: center;
  border: 1px solid var(--lightGray);
  background-color: var(--offWhite);
  padding: 0 1rem;
  border-radius: var(--borderRadius);
}

.search input {
  background-color: transparent;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  outline: none;
  font-weight: 500;
  color: var(--black);
}

.search button {
  border-left: 1px solid var(--lightGray);
  height: 3rem;
}

/* // SEARCH COMPONENT END //////////////////////////////// */

/* // RESERVATION START /////////////////////////////////// */
.investor-details li,
.foreign-details li {
  font-size: 1.6rem;
  list-style: inside;
  margin: 2rem;
  color: #555558;
}

.investor-details li::marker,
.foreign-details li::marker {
  color: var(--yellow);
}

.bank-details {
  color: var(--black);
  background-color: rgba(225, 225, 225, 0.8);
  height: 100%;
  padding: 2rem 1rem;
}

.bank-details h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.bank-details li {
  font-size: 1.6rem;
  margin-left: 2rem;
  list-style-type: disc;
}

.employment {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid var(--lightGray);
  border-radius: var(--borderRadius);
  width: 100%;
}

.employment h4 {
  margin: 0;
  text-align: left;
}

.employment li {
  margin: 0 0 1rem 1rem;
  font-size: 1.5rem;
  color: var(--blacks);
  list-style: disc;
}

.employment li::marker {
  color: var(--yellow);
}
/* // RESERVATION END ////////////////////////////////////// */

/* // MODAL START //////////////////////////////////// */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px) grayscale(70%);
  background-color: #f5f5f548;
}

.modal-container i {
  color: var(--black);
  font-size: 2rem;
}

.modal-container > .component {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.modal-icons {
  position: fixed;
  bottom: 15%;
  right: 0;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.modal-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.modal-icon-container i {
  font-size: 2.5rem;
  color: var(--offWhite);
}

.modal-icon-container:nth-of-type(1) {
  background-color: #ff4343;
}
.modal-icon-container:nth-of-type(2) {
  background-color: #7360f2;
}
.modal-icon-container:nth-of-type(3) {
  background-color: #128c7e;
}
.modal-icon-container:nth-of-type(4) {
  background-color: #006aff;
}

.modal-icon-container:nth-of-type(1):hover {
  background-color: #fb5d5d;
}
.modal-icon-container:nth-of-type(2):hover {
  background-color: #8978f5;
}
.modal-icon-container:nth-of-type(3):hover {
  background-color: #1ab3a1;
}
.modal-icon-container:nth-of-type(4):hover {
  background-color: #2b83fee2;
}
/* // MODAL END ///////////////////////////////////////// */

/* // PAGINATION START ///////////////////////////////////////// */
/* .pagination-container {
  border: 1px solid red;
} */

.pagination-container ul {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pagination-container a {
  color: var(--blue);
  font-weight: 600;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: 1px solid transparent;
  /* margin: auto; */
}

.pagination-container a:hover,
.pagination-containerl a:active,
.selected a {
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
}
/* // PAGINATION END ///////////////////////////////////////// */

/* // FOOTER START ////////////////////////////////////// */
.footer {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--black);
  color: var(--offWhite);
}

.footer-div,
.footer-logo,
.footer-icon {
  margin: 2rem 0 1rem 0;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: var(--borderRadius);
  height: 5rem;
  width: 5rem;
  font-size: 2.4rem;
}

.footer-icons a {
  color: var(--offWhite);
}

.footer-div h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.2rem;
}

.footer-logo img {
  height: 5rem;
}

.footer-div li {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.footer-links a {
  color: var(--offWhite);
}

.footer-links a:hover {
  color: var(--blue);
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.footer-contact i {
  font-size: 1.6rem;
}
/* // FOOTER END ////////////////////////////////////// */

/* Larger than mobile */
@media (min-width: 400px) {
}

@media (min-width: 470px) {
  .hero-overlay img {
    width: 40%;
  }
}

@media (min-width: 600px) {
  .gallery {
    width: 100%;
  }

  .feature-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature-image img {
    width: 100%;
    height: 35rem;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  /* .hero-links {
    flex-direction: row;
  } */

  .hero-overlay {
    width: 40%;
    right: 10%;
  }

  .hero-overlay img {
    bottom: 20%;
    width: 50%;
  }

  .hero-overlay a {
    text-align: center;
    padding: 2rem 2rem;
  }

  .category {
    flex-wrap: unset;
    flex-direction: column;
  }

  .category a {
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
  }

  .card-container a {
    width: 49%;
  }

  .dyn-container {
    height: 100%;
    margin-top: 3rem;
  }

  .dyn-img img {
    width: 31.8%;
  }

  .airport-container img {
    width: 47.5%;
  }

  .airport-text {
    width: 50%;
    align-items: center;
  }

  .bank-details {
    padding: 2rem;
  }

  .bank-details ol {
    padding: 0 30%;
  }

  .featured-content p:nth-of-type(3) {
    width: 70%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .SMDC-kts-container {
    height: 40rem;
  }

  .SMDC-kts-header img {
    height: 10rem;
  }

  .SMDC-kts-header {
    align-items: center;
  }

  .SMDC-kts-header h4 {
    font-size: 4rem;
  }

  .SMDC-kts-body p {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .airport-container {
    height: 40rem;
    margin-right: 0;
  }

  .airport-container img {
    height: 40rem;
    border-radius: 3px;
  }

  .dyn-container {
    flex-direction: column;
    height: 40rem;
  }

  .dyn-text img {
    height: 5rem;
  }

  .dyn-text p {
    font-size: 2.2rem;
  }

  .dyn-icon i {
    font-size: 4rem;
  }

  .dyn-img {
    gap: auto;
  }

  .dyn-img img {
    width: 23rem;
  }

  .SMDC-Referrer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .SMDC-Referrer-img-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }

  .SMDC-Referrer-img {
    width: 48%;
    margin-bottom: unset;
  }

  .long-text {
    line-height: 2.5rem;
    /* column-count: 2; */
    text-align: justify;
  }

  .long-text i {
    font-weight: 500;
    font-size: 1.3rem;
    margin-right: 0.5rem;
  }

  .long-text p:first-of-type {
    margin-top: 0;
  }

  .long-text p:last-of-type {
    margin-bottom: 0;
  }

  .bank-details ol {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0 40%;
  }

  .bank-details li,
  .bank-details p {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--black);
  }

  .employment-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .employment {
    width: 48%;
    margin: 0;
    padding: 3rem;
  }

  /* .featured-content a {
    width: 50%;
  } */

  .propert-about-button-container {
    display: flex;
    gap: 1rem;
  }

  .map-container {
    display: flex;
    height: 60rem;
  }

  .map-section {
    width: 70%;
    height: 100%;
    padding: 2rem 1rem;
  }

  .map-description {
    width: 30%;
    height: 100%;
  }

  .map-description img {
    width: 50%;
  }

  .map-description h3 {
    margin-top: 1rem;
  }

  .single-item-details {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
  }

  .details-section {
    width: 50%;
  }

  .gallery-container {
    padding: 4rem 1rem;
  }

  .gallery-description {
    padding: 0 2rem;
  }

  .image-container {
    display: flex;
  }

  .gallery {
    width: 50%;
    /* border: 1px solid red; */
  }

  .gallery img {
    min-width: 35rem;
    max-width: 100%;
    min-height: 35rem;
    max-height: 100%;
    /* width: 100%;
    height: 100%; */
  }

  .location > div {
    /* border: 1px solid red; */
    width: 100%;
  }
}

@media (max-width: 660px) {
  .category-section {
    flex-direction: column;
  }
  .category-section-image {
    width: 100%;
  }

  .category-section-image img {
    aspect-ratio: 16 / 9;
  }

  .category-section-content {
    width: 100%;
    padding: 2rem 0;
  }

  .category-section:nth-of-type(2) {
    flex-direction: column;
  }

  .category-section-content p {
    line-height: 2rem;
    width: 100%;
    padding: unset;
  }
}

@media (max-width: 760px) {
  .category-section-content {
    padding: unset;
    /* border: 1px solid red; */
  }

  .category-section-content p {
    line-height: 1rem;
    width: 100%;
    padding: 1rem 2rem;
  }
}

@media (max-width: 850px) {
  .category-section-content p {
    line-height: 2rem;
    padding: unset;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .navbar {
    height: 7rem;
    padding: 1rem 0;
  }

  .navbar-logo {
    width: 20%;
  }

  .navbar-links {
    display: inline-flex;
    width: 80%;
    padding-right: 1rem;
  }

  .navbar-links a {
    display: flex;
  }

  .hero-overlay {
    width: 30%;
  }

  .inActive-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-weight: 600;
    text-transform: uppercase;
    /* background-color: var(--lightGray); */
    padding: 0 1rem;
    height: 100%;
    width: 12rem;
    /* border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black); */
  }

  .inActive-links:hover {
    color: var(--white);
    background-color: var(--black);
    transition: var(--trans300ms);
  }

  .active-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--blue);
    padding: 0 1rem;
    height: 100%;
    width: 12rem;
    /* border-radius: var(--borderRadius); */
  }

  .navbar-links i {
    display: none;
  }

  .navbar-links-mobile {
    display: none;
  }

  .card-container a {
    width: 32.8%;
  }

  .long-text {
    /* column-count: 3; */
  }

  .long-text p:first-of-type {
    margin-top: 0;
  }

  .long-text p:last-of-type {
    margin-bottom: 0;
  }

  .heading-with-map {
    display: flex;
    width: 100%;
  }
  .dyn-container {
    height: 100%;
    padding: 5rem 0;
  }

  .dyn-img {
    height: 100%;
  }

  .dyn-img img {
    width: 33.2%;
  }

  .SMDC-Referrer-img-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }

  .SMDC-Referrer-img {
    width: 48%;
  }

  .drop-down-menu {
    width: 50%;
  }

  .featured-content {
    padding-left: 50%;
    width: 100%;
  }

  .featured-content p:nth-of-type(3) {
    width: 100%;
  }

  /* .featured-content a {
    width: 100%;
  } */

  .div1,
  .div2 {
    width: 100%;
    padding: 0 2rem;
  }

  .div1 {
    display: flex;
  }

  .contact-us {
    flex-direction: column;
  }

  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 4rem 0;
  }
  form {
    padding: 4rem 0;
    margin: 0;
  }

  .contact-info h4 {
    font-size: 1.6rem;
  }

  .contact-div {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .contact-div i {
    margin-right: 1rem;
    font-size: 1.8rem;
    color: var(--black);
  }

  .content {
    width: 50%;
    padding-right: 2rem;
  }

  .parent-foo {
    position: relative; /* not always necessary */
    overflow: hidden;
  }

  .details-section {
    width: 33.3%;
  }

  .details-section:nth-of-type(2),
  .details-section:nth-of-type(4) {
    padding: 0;
    border: unset;
  }

  .image-container {
    display: flex;
  }

  .gallery-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
  }

  .gallery-description p {
    text-align: center;
  }

  .gallery-button-container {
    border-bottom: 1px solid var(--lightGray);
  }

  .feature-container {
    height: 60rem;
    display: flex;
  }

  .feature-description,
  .feature-image {
    padding: 2rem 0;
    width: 50%;
  }

  .feature-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
  }

  .feature-description h3,
  .feature-description p {
    text-align: center;
  }

  .modal-container > .component {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 5% 10%;
    padding: 0;
  }

  .modal-container > .component > i {
    position: absolute;
    top: 1rem;
    left: 1.7rem;
    font-weight: 600;
    font-size: 2.5rem;
  }

  .modal-container > .component > .contact-us > .div1,
  .modal-container > .component > .contact-us > .div2 {
    padding: 1rem;
  }

  .modal-container > .component > .contact-us > .div1 {
    border-right: 1px solid var(--lightGray);
  }

  .modal-container > .component > .contact-us {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .modal-container > .component {
    /* border: 1px solid red; */
    width: 95%;
    height: auto;
  }

  .contact-us {
    flex-direction: column;
  }
  /* .div1 {
    display: block;
    padding: 0 1rem;
  } */
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .hero-container,
  .location-container,
  .component,
  .single-item-section-container,
  .single-item-section {
    padding: 5rem 20%;
    margin: 0;
  }

  .navbar-logo {
    padding-left: 20%;
    width: 50%;
  }

  .navbar-links {
    width: 50%;
    padding-right: 20%;
  }

  .hero-header {
    padding: 0;
  }

  .widget-container,
  .airport-container,
  .dyn-container {
    padding: 5rem 20%;
    height: 100%;
    margin: 0;
  }

  .airport-container img {
    width: 48%;
  }

  .airport-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
  }

  .airport-text p:nth-of-type(1),
  .airport-text p:nth-of-type(2),
  .airport-text p:nth-of-type(3) {
    font-size: 4rem;
    margin: 1rem 0;
  }

  .SMDC-Referrer-img-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }

  .SMDC-Referrer-img {
    width: 48%;
  }

  .dyn-text {
    height: 20rem;
    justify-content: space-evenly;
  }

  .dyn-text p {
    font-size: 3rem;
  }

  .dyn-img {
    height: 100%;
  }

  .dyn-img img {
    width: 32.75%;
  }

  .bank-details {
    padding: 2rem 20%;
  }

  .footer {
    padding: 2rem 20%;
  }

  .featured-content {
    padding: 0 20%;
  }

  /* .featured-content a {
    width: 50%;
  } */

  .featured-content p:nth-of-type(3) {
    width: 70%;
  }

  .contact-header,
  .contact-us {
    padding: 0 20%;
  }

  .div2,
  .div1 {
    padding: 0;
  }

  .div1 {
    display: flex;
  }

  .banner-hero {
    /* margin: 0 20%; */
    height: 50rem;
  }

  .heading-with-map {
    flex-direction: column;
  }

  .single-item-section {
    padding: 0 20%;
  }

  .details-section:nth-of-type(1) {
    padding-right: 2rem;
  }

  .single-item-heading {
    padding: 5rem 0;
  }
}

@media (min-width: 1440px) {
  .contact-us {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .div2,
  .div1 {
    width: 50%;
    padding: 0;
  }

  .div1 {
    padding-left: 2rem;
  }

  .div2 {
    padding-right: 2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
